{% extends 'layout.html.twig' %}

{% block title %} Plan des quais {{ parent() }}{% endblock %}

{% block body %}
<div id="legende">
    <div class="ligne">
        <div> Légende : </div>
        <div class="couleur etat0"> Libre </div>
        <div class="couleur etat1"> En maintenance </div>
        <div class="couleur etat2"> Occupé </div>
        <div class="couleur etat3"> Remorque à deplacer </div>
    </div>
</div>

<div class="tab-content content-section mb-4">
    <div id="chatboxMsg">
        {{ include("home/plan.html.twig") }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        setInterval('load_chatbox_msg()', 2000);
        function load_chatbox_msg() {
            $('#chatboxMsg').load('{{ path('plan') }}');
        }
    </script>
{% endblock %}
