{% extends 'admin/layout.html.twig' %}

{% block title %} Créer un nouvel utilisateur {{ parent() }}{% endblock %}

{% block titrePage %}Créer un nouvel utilisateur{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('admin.utilisateur.index') }}">Utilisateurs</a></li>
<li class="breadcrumb-item">Créer un nouvel utilisateur</li>
{% endblock %}

{% block body %}

{% endblock %}
