.etat0 {
	background-color: #28a745;
}
.etat1 {
	background-color: orange;
}
.etat2 {
	background-color: #dc3545;
}
.etat3 {
	background-color: #ffc107;
}
.etat4 {
	background-color: #17a2b8;
}
.ligne {
	display: inline-flex;
}
.ligne .couleur {
	display: inline-flex;
	color: rgb(230,230,230);
	text-shadow: 1px 1px 0px black;
}
.ligne div {
	padding: 6px 9px;
	margin: 20px 10px;
}
.dataTables_wrapper, .tableSearch_filter {
	padding: 20px 20px 6px 20px;
}
