.etat0 {
	background-color: green;
}
.etat1 {
	background-color: orange;
}
.etat2 {
	background-color: red;
}
.etat3 {
	background-color: yellow;
}
.etat4 {
	background-color: blue;
}
.ligne {
	display: inline-flex;
}
.ligne .couleur {
	display: inline-flex;
	color: rgb(230,230,230);
	text-shadow: 1px 1px 0px black;
}
.ligne div {
	padding: 6px 9px;
	margin: 20px 10px;
}
.dataTables_wrapper, .tableSearch_filter {
	padding: 20px 20px 6px 20px;
}
