{% extends 'backend/layout.html.twig' %}

{% block title %} Home {{ parent() }}{% endblock %}

{% block titrePage %}Home{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Home</li>
{% endblock %}

{% block body %}

{% endblock %}
